.container {
    flex-grow: 1;
    margin-top: .5rem;
    background-color: var(--color-pages);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--color-header);
    width: 100%;
}

.title {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-block: .8rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}


.form {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.box_cadastro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.box_input {
    margin: auto;
    width: 40%;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .2rem;
}

.input {
    width: 100%;
    display: flex;
    min-height: 2.375rem;
    background-color: hsl(0, 0%, 100%);
    border-color: var(--color-border);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-style: solid;
    border-width: .0625rem;
    box-sizing: border-box;
    padding-left: .5rem;
    outline: none;
    font-size: 1rem;
}

.label {
    font-size: .9rem;
    font-weight: 500;
}

.input:focus {
    border: .125rem solid var(--color-hover);
}

.button_salvar {
    padding: .6rem;
    border-radius: .25rem;
    border: none;
    background-color: var(--color-button-save);
    color: white;
    font-size: .875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    font-weight: 600;
    cursor: pointer;
}

.button_salvar:hover {
    background-color: var(--color-button-hover-save);
}

.aviso {
    color: red;
    font-size: .75rem;
}