.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.label {
    font-size: .9rem;
    font-weight: 700;
}
.box_input{
    display: flex;
}

.input_default{
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
}

.paragraph {
    color: var(--color-grey-0)
}