.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
    flex-grow: 1;
    background-color: var(--color-pages);
    color: rgb(9, 149, 204);
    font-size: 4rem;
    font-weight: 700;
}