.header{
    border: 1px solid;
    max-width: 87.5rem;
    height: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;  
}
.container{
    width: 99%;
    margin: auto;
    display: flex; 
    justify-content: space-between;
}
.img{
    width: 9rem;
    height: 4rem;
}