:root{
    --color-primary:#071D41;
    --color-secudary:#e1edf9;
    --color-pages:rgb(240, 240, 245);

    --color-hover:#428bca;

    --color-button-exit:#be0101;
    --color-button-hover-exit:#f13b3b;
}